body {
  font-family: Arial;
  background-color: #f5f5f5;
  padding: 20px;
}

h1 {
  color: blue;
  margin-bottom: 20px;
}

h2 {
  color: green;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  margin-bottom: 10px;
}

button {
  background-color: black;
  color: white;
  padding: 10px 15px;
  border: 2px solid black;
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: red;
  display: inline-block;
  margin-top: 10px;
}

img {
  height: 5cm;
  width: auto;
  display: block;
  margin: 20px auto;
  border: 3px solid black;
  padding: 5px;
}

.box {
  background-color: white;
  border: 2px solid black;
  padding: 20px;
  margin: 20px;
  width: 300px;
  height: 150px;
}

.block-box {
  display: block;
}

.inline-box {
  display: inline;
  background-color: lightblue;
  border: 2px solid blue;
  padding: 10px;
  margin: 10px;
}

.inline-block-box {
  display: inline-block;
  background-color: lightgreen;
  border: 2px solid green;
  padding: 15px;
  margin: 15px;
  width: 200px;
  height: 100px;
}
