body {
  font-family: Arial;
  background-color: #f5f5f5;
}

h1 {
  color: blue;
}

h2 {
  color: green;
}

p {
  font-size: 16px;
}

button {
  background-color: black;
  color: white;
}

a {
  text-decoration: none;
  color: red;
}
img {
 height: 5cm;
}
